<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Candles:</p>
     <%= "Display #{@cndle} candles" %>
    <% @cndle.times do %>
     <img src="https://media.tenor.com/images/b092682761fa95ec8334ec8f26fb0a13/tenor.gif">
    <% end %>
</body>
</html>
